# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/Code/Firmware/MCP23017/*.hex
/Code/Firmware/MCP23017/*.elf
/Hardware/AlarmMain/*.sch-bak
/Hardware/AlarmMain/Gerber
/Hardware/AlarmMain/Assembly
/Hardware/AlarmMain/*.kicad_pcb-bak
